<% @page_title = "検索" %>
<p><%= @page_title %></p>

<div class="well" style="width: 550px; margin-right: auto; margin-left: auto;">

<%= form_tag '/services/search', method: :get do %>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

            <label>乗船日時</label>
            <%= date_select('', :date) %>
            <%= time_select('', :time) %>

            <label>ご利用区間</label>
            <%= select_tag :route, options_for_select([["青森 発 → 函館 着", "1"], ["函館 発 → 青森 着", "2"]]) %>

            <p>
            <label>オプション</label>
            <%= check_box_tag(:car_num, 0) %>車の積載
            <%= check_box_tag(:taken_room, 0) %>客室のご利用
            </p>

    </div>

    <div class="col-xs-1 col-xs-offset-9" style="margin-top: 15px;">
      <%= submit_tag "検索", :class => "btn btn-default" %>
    </div>

  </div>

<% end %>

</div>
