<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ferreserve</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render "shared/in_header" %>

		
		<%= yield %>


		<%= render "shared/footer" %>
	</div>
</body>
</html>